h1 {
    color :  blueviolet;
}

p {
    font-size: medium;
    color: blanchedalmond;
}

h2 {
    color: blueviolet;
}



.couleur {
    color: blanchedalmond;
    font-family: Helvetica;
}

.ma-classe {
    color:  blueviolet;
}

body {
    background-color:black;
}

.banniere {
    padding: 100px;
    background-image: url("/Users/sambarbosa/visual_studio_code/oteria/discover_html/dedede-2.jpg");
}
